<template>
  <div class="product__item">

    <div class="product__item__image">
      <img v-if="product.images && product.images.length" :src="product.images[0].url" class="product__image">
    </div>

    <div class="product__item__info">
      <router-link :to="'/product/' + product.id" class="button__link">
        <strong>{{ product.name || '' }} </strong>
      </router-link>

      <div v-if="product.company && product.company.name" class="product__company">
        <Icon type="ios-people-outline" />
        <a :href="'/products?company_id=' +product.company.id ">{{ product.company.name }}</a>
      </div>

      <div v-if="categoriesFlat && categoriesFlat[product.snab_category_id]" class="product__category">
        <Icon type="ios-list-box-outline" />
        <span>{{ categoriesFlat[product.snab_category_id].name }}</span>
      </div>

      <div v-if="product.city" class="product__city" :style="[{textAlign: 'left'}]">
        <Icon type="ios-pin-outline" />
        <span>{{ product.city }}</span>
      </div>

      <div v-if="product.page_views">
        <Icon type="ios-eye-outline" />
        <span>{{ product.page_views }}</span>
      </div>
    </div>

    <div class="product__item__buy">

      <div class="product__price" :style="[{textAlign: 'right'}]">
        <span v-if="product.price === null || product.price <= 0">уточнить</span>
        <div v-else>
          <strong class="product__item__price">
            <VueNumeric :value="product.price"
              separator="space"
              decimalSeparator="."
              class="product__item__number"
              :precision="2"
              :precisionMax="2"
              thousandSeparator=" "
              :readOnly="true" />
            <span>&#8381;</span>
          </strong>
          <span v-if="product.nds === 'no_nds'" class="product__price_nds">без НДС</span>
          <span v-else-if="product.nds === 'with_nds'" class="product__price_nds">c НДС</span>
          <span v-else-if="product.nds === 'no_provided'" class="product__price_nds">НДС не предусмотрен</span>
          <span v-else class="product__price_nds">НДС не указан</span>
        </div>
      </div>
      <div class="product__balance" :style="[{textAlign: 'right'}]">
        <span v-if="product.balance === null || product.balance <= 0">-</span>
        <span v-else>
          <VueNumeric :value="product.balance"
            separator="space"
            decimalSeparator="."
            :precision="3"
            thousandSeparator=" "
            :readOnly="true"
            class="product__item__number" />
          <span v-if="product.mes"> / {{ product.mes }}</span>
        </span>
      </div>

      <Button
        type="success"
        icon="ios-basket"
        @click="clickToBuy(product)">Купить</Button>

    </div>

  </div>
</template>

<script>

  import VueNumeric from '@/components/VueNumeric.vue'

  export default {
    name: 'ProductListItem',
    components: {
      VueNumeric
    },
    data() {
      return {
      }
    },
    props: {
      product: Object,
      stopLoading: Boolean,
      clickToBuy: Function,
      categoriesFlat: Object,
      goTo: Function,
    },
    computed: {
    },
    methods: {
    },
    mounted () {
    },
    watch: {
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .button__link {
    color: #57a3f3 !important;
  }

  .button__link,
  .button__link:hover {
    background: none !important;
    /* color: #005ab7 !important; */
    border: none !important;
  }

  .button__link:hover {
    color: #007cff !important;
  }

  .product__item {
    /* height: 40px; */
    display: flex;
    /* justify-content: flex-start; */
    align-items: stretch;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid rgb(177, 177, 177);
  }

  .product__item:hover {
    background: #ffe2aa82;
    box-shadow: 2px 2px 2px 0px rgb(177, 177, 177);
  }

  .product__item__image {
    display: flex;
    width: 130px;
    margin: auto;
  }

  .product__image {
    max-height: 65px;
    width: auto;
    margin: auto;
  }

  .product__item__info {
    width: calc(80% - 130px);
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }

  .product__item__buy {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .product__company > span {
    cursor: pointer;
  }

  .product__category {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .product__price,
  .product__balance {
    white-space: nowrap;
  }

  .product__price_nds {
    display: block;
    font-size: 12px;
    color: #808080;
  }

  .product__item__price {
    font-size: 20px;
  }

  .product__item__number {
    width: auto;
    vertical-align: baseline;
  }

  .product__description {
    padding: 5px;
  }

  @media(max-width: 768px) {
    .product {
      height: 80px;
    }

    .product__item {
      flex-direction: column;
    }

    .product__item__image {
      width: auto;
    }

    .product__image {
      max-height: 200px;
    }

    .product__item__info {
      width: 100%;
      padding: 0;
    }

    .product__item__buy {
      width: 100%;
      display: flex;
      flex-direction: row;
    }

  }

</style>
