<template>
  <div id="product-list">
    <Row v-if="errors">{{ errors }}</Row>
    <Row :style="[{textAlign: 'left'}]">
      <Spin size="large" fix v-if="loading"></Spin>
      <div style="padding-left: 4px; padding-right: 4px;">
        <ProductListItem
          v-for="(product, index) in products.data"
          :key="product.id"
          :product="product"
          :clickToBuy="addToCart"
          :categoriesFlat="categoriesFlat"
          :goTo="goTo" />
      </div>
    </Row>
    <Row :style="[{ marginTop: '10px', textAlign: 'center' }]">
      <Page :total="products.total"
            :page-size="products.per_page"
            :current="curretPage"
            @on-change="handlePaginate"
            show-total>
          Найдено товаров: {{ products.total }}</Page>
    </Row>

    <Cart />
  </div>
</template>

<script>

import { mapState, mapActions } from 'vuex'
import { Action, Mutation } from '@/store/modules/products/types';
import ProductListItem from '../components/ProductListItem.vue'
import Cart from './Cart.vue'

export default {
  name: 'ProductList',
  components: {
    ProductListItem,
    Cart,
  },
  props: {
    reload: {
      type: Boolean,
      default: () => false,
    }
  },
  data: function() {
    return {
    }
  },
  computed: {
    curretPage: function() {
      const routeQuery = this.$route.query;
      return routeQuery.page ? parseInt(routeQuery.page) : 1;
    },
    ...mapState({
      loading: state => state.products.loading,
      products: state => state.products.products,
      categoriesFlat: state => state.products.categoriesFlat,
      errors: state => state.products.errors,
      notice: state => state.products.notice,
    })
  },
  methods: {
    /**
     * call action on click paginate link
     * @param Int pageNumber
     * @return void
     */
    handlePaginate (pageNumber) {
      const routeQuery = this.$route.query;
      const query = { ...routeQuery, page: pageNumber };

      this.$router.push({query: query})
      this.$store.dispatch(`products/${Action.GET_ALL_PRODUCTS}`, query)
    },

    /**
     * add cart to product - save it in localstorage
     * @param Object product
     * @return void
     */
    addToCart(product) {
      this.$Message.success('Товар добавлен в корзину!');
      this.$store.commit(`products/${Mutation.ADD_TO_CART}`, product);
    },

    /**
     * manual get produts (click by category)
     * @param VueRouter query params q
     * @return void
     */
    goTo(q) {
      this.$router.push({query: q})
      this.$store.dispatch(`products/${Action.GET_ALL_PRODUCTS}`, q)
    },

  },
  created () {
  },
  mounted() {
    // check where loaded component - if on server do not call store twice
    if (this.reload || !this.$store.state.products || Object.keys(this.$store.state.products.products).length === 0) {
      const routeQuery = this.$route.query;

      Promise.all([
        this.$store.dispatch(`products/${Action.GET_CATEGORIES}`),
        this.$store.dispatch(`products/${Action.GET_COMPANIES}`),
        this.$store.dispatch(`products/${Action.GET_ALL_PRODUCTS}`, routeQuery)
      ]);
    }
  },
  serverPrefetch() {
    const routeQuery = this.$route.query;

    return Promise.all([
      this.$store.dispatch(`products/${Action.GET_CATEGORIES}`),
      this.$store.dispatch(`products/${Action.GET_COMPANIES}`),
      this.$store.dispatch(`products/${Action.GET_ALL_PRODUCTS}`, routeQuery)
    ]);
  },
  watch: {
    errors (newError, oldError) {
      if (newError !== null && newError !== oldError) {
        this.loadingProduct = false;
        this.$Notice.config({
            top: 60,
        });
        this.$Notice.error({
          title: 'Произошла ошибка',
          desc: newError,
          duration: 0,
        });
      }
    },
    notice (newNotice, oldNotice) {
      if (newNotice !== null && newNotice !== oldNotice) {
        this.buyModal = false;
        this.loadingProduct = false;
        this.$Notice.config({
            top: 60,
        });
        this.$Notice.success({
          title: 'Готово',
          desc: newNotice,
          // duration: 0,
        });
      }
    },
  }
}
</script>

<style>

</style>
